body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #0d0d0d;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 120px;
    text-align: center;
    line-height: 0.5;
}

.bottom {
    position: relative;
    top: 25vh;
}

.container {
    width: 100%;
    height: 100%;
}

.triangle-down {
    width: 0;
	height: 0;
    margin-left: auto;
    margin-right: auto;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid gray;
}

.typewrite {
    overflow: hidden;
    border-right: 0.1em solid white;
    height: 1em;
    width: 0;
    white-space: nowrap;
    animation-name: typewrite;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: steps(20, end);
}

@keyframes typewrite {
    from {width: 0}
    to {width: 11em}
}

.float-in {
    position: relative;
    animation-name: float;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes float {
    from {top: 1em; opacity: 0;}
    to {top: 0em;}
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-5 {
    animation-delay: 5s;
}