html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #0d0d0d;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    text-align: center;
    line-height: 0.5;
}

h2 {
    font-size: 5rem;
    text-align: center;
    line-height: 0.5;
}

p {
    font-size: 3rem;
    text-align: center;
    line-height: 0.5;
}

.container {
    width: 100%;
    height: 100%;
}

.caret {
    border-right: white;
    border-right-style: solid;
    border-right-width: 0.25rem;
}

.float-in {
    position: relative;
    animation-name: float;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes float {
    from {top: 1.5rem; opacity: 0;}
    to {top: 0em;}
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-5 {
    animation-delay: 6s;
}